@font-face {
  font-family: 'brandon_grotesquethin';
  src: url('../assets/fonts/brandon_thin-webfont.eot');
  src: url('../assets/fonts/brandon_thin-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/brandon_thin-webfont.woff2') format('woff2'), url('../assets/fonts/brandon_thin-webfont.woff') format('woff'), url('../assets/fonts/brandon_thin-webfont.ttf') format('truetype'), url('../assets/fonts/brandon_thin-webfont.svg#brandon_grotesquethin') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  background: black;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

.show-link-container > p {
  color: white;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  left: 0;
  right: 570px;
  top: 64px;
  bottom: 0;
  margin: auto;
  text-align: center;
  z-index: 8;
}

.copy-link-input {
  position: absolute;
  width: 166px;
  height: 26px;
  background-color: transparent;
  border: 1px solid #79DFB6;
  top: 60px;
  left: 0;
  right: 555px;
  margin: auto;
}

.shared-successfuly {
  position: absolute;
  color: #79DFB6;
  text-align: center;
  left: 519px;
  right: 0;
  margin: auto;
  top: 63px;
  font-size: 14px;
  font-weight: 300;
}

.facebook-share-btn {
  position: absolute;
  width: 160px;
  height: 30px;
  background-color: green;
  border-radius: 35px;
  background-color: transparent;
  border: 1px solid #7EB1DC;
  margin: auto;
  top: 59px;
  z-index: 20;
  right: 0;
  left: 531px;
  cursor: pointer;
}

.facebook-share-btn > p {
  color: rgba(255, 255, 255, .9);
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 13px;
  text-align: center;
  top: 5px;
  font-weight: 300;
  cursor: pointer;
}

.disconnect-btn {
  position: relative;
  width: 160px;
  height: 30px;
  background-color: green;
  border-radius: 35px;
  background-color: transparent;
  border: 1px solid #d0314f;
  margin: auto;
  top: 113px;
  z-index: 20;
  right: 0;
  left: 0;
  cursor: pointer;
}

.disconnect-btn > p {
  color: rgba(255, 255, 255, .9);
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 13px;
  text-align: center;
  top: 5px;
  font-weight: 300;
  cursor: pointer;
}

a {
  text-decoration: none;
  top: 16px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  color: white;
  font-weight: 300;
}

.fa.fa-child {
  color: white;
  font-size: 64px;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 110px;
  margin: auto;
  z-index: 10;
}

.or-back-to {
  color: #7EB1DC;
  position: absolute;
  left: 0;
  right: 0;
  top: 320px;
  text-align: center;
  margin: auto;
  font-size: 18px;
  z-index: 4;
  font-weight: 300;
}

.go-to {
  color: #7EB1DC;
  position: absolute;
  left: 0;
  right: 0;
  top: 220px;
  text-align: center;
  margin: auto;
  font-size: 18px;
  z-index: 4;
  font-weight: 300;
}

.room-baby-btn {
  width: 300px;
  height: 60px;
  background-color: transparent;
  border-radius: 25px;
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  border: 1px solid #7EB1DC;
  font-size: 18px;
  color: white;
  font-weight: 300;
}

.facebook-btn {
  width: 300px;
  height: 60px;
  background-color: transparent;
  border-radius: 25px;
  position: absolute;
  top: 340px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  border: 1px solid #7EB1DC;
  font-size: 18px;
  color: white;
  font-weight: 300;
}

.copy-link-btn {
  position: absolute;
  width: 160px;
  height: 30px;
  background-color: green;
  border-radius: 35px;
  background-color: transparent;
  border: 1px solid #7EB1DC;
  margin: auto;
  top: 59px;
  z-index: 20;
  left: 0;
  right: 555px;
  cursor: pointer;
}

.copy-link-btn > p {
  color: rgba(255, 255, 255, .9);
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 13px;
  text-align: center;
  top: 5px;
  font-weight: 300;
  cursor: pointer;
}

.subscriber-count {
  position: absolute;
  color: #7EB1DC;
  left: 0;
  right: 579px;
  text-align: center;
  margin: auto;
  top: 30px;
  font-size: 14px;
  white-space: nowrap;
}

.time-left {
  color: #7EB1DC;
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 530px;
  right: 0;
  margin: auto;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
}

.facebook-share {
  color: #7EB1DC;
  position: absolute;
  top: 62px;
  bottom: 0;
  left: 530px;
  right: 0;
  margin: auto;
  text-align: center;
  cursor: pointer;
  z-index: 5;
  white-space: nowrap;
  font-size: 14px;
}

div.OT_widget-container > video {
  width: 100%;
  height: 100%;
}

.broadcast-navbar {
  height: 100px;
  position: fixed;
  background: black;
  top: 0;
  width: 100%;
  z-index: 4;
}

#broadcast-container {
  position: relative;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 70%;
  margin: auto;
  background: black;
  border: 1px solid #7EB1DC;
}

.broadcast-background {
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute
}

.broadcast-title {
  font-size: 36px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  text-align: center;
  font-weight: 300;
  left: 0;
  right: 0;
  bottom: 5px;
    font-family: 'brandon_grotesquethin';
}

.broadcast-line {
  position: absolute;
  top: 48px;
  width: 760px;
  border-bottom: 1px solid #d0314f;
  margin: auto;
  left: 0;
  right: 0;
}

.broadcast-live {
  font-size: 16px;
  text-transform: capitalize;
  text-align: center;
  position: absolute;
  top: 66px;
  color: #79DFB6;
  font-weight: 300;
  margin: auto;
  left: 0;
  right: 0;
}

.broadcast-expired {
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: 60px;
  color: #FF7F49;
  font-weight: 300;
  margin: auto;
  left: 0;
  right: 0;
}
