<!DOCTYPE html>
<html>

<head>
  <title>RB Videos Api</title>
  <meta property="og:title" content="Room Baby Broadcast" />
  <meta property="og:site_name" content="Room Baby" />
  <meta property="fb:app_id" content=<%=f bAppId %> />
  <meta property="og:url" content=<%=s iteUrl %> />
  <meta property="og:image" content="https://raw.githubusercontent.com/scottjason/room-baby-videos-api/master/views/img/rb-embed-735-350.png" />
  <script type='text/javascript'>
  var broadcast = <%- JSON.stringify(broadcast) %>
  </script>
  <link href="/styles/broadcast.css" rel="stylesheet">
  <script src="/scripts/lib/opentok-min.js"></script>
  <script src="/scripts/broadcast.js"></script>
</head>

<body>

</html>
