<!DOCTYPE html>
<html>

<head>
  <title>RB Videos Api</title>
  <meta property="og:title" content="Room Baby Broadcast" />
  <meta property="og:site_name" content="Room Baby" />
  <meta property="fb:app_id" content=<%= fbAppId %> />
  <meta property="og:url" content=<%= siteUrl %> />
  <meta property="og:image" content="https://raw.githubusercontent.com/scottjason/room-baby-videos-api/master/views/img/rb-embed-735-350.png" />

  <link href="/styles/broadcast.css" rel="stylesheet">
  <script src="/scripts/broadcast.js"></script>
</head>

<body>

</html>
