<!DOCTYPE html>
<html>

<head>
  <title>Room Baby</title>
  <base href="/"></base>
  <meta property="og:title" content="Room Baby Broadcast" />
  <meta property="og:site_name" content="Room Baby" />
  <meta property="fb:app_id" content=<%= fbAppId %> />
  <meta property="og:url" content=<%= siteUrl %> />
  <meta property="og:image" content="https://raw.githubusercontent.com/scottjason/room-baby-videos-api/master/views/img/rb-embed-735-350.png" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="/styles/broadcast.css" rel="stylesheet">
</head>

<body>
  <div class='broadcast-background'>
    <div class='broadcast-navbar'>
      <p class='broadcast-title'>Room Baby</p>
      <div class='broadcast-line'></div>
      <p class='broadcast-expired'>- Broadcast Expired -</p>
    </div>
    <i class="fa fa-child"></i>
    <p class='go-to'>go to</p>
    <div class='room-baby-btn'>
      <a href='https://room-baby.herokuapp.com'>Room Baby</a>
    </div>
    <p class='or-back-to'>or back to</p>
    <div class='facebook-btn'>
      <a href='https://facebook.com'>Facebook</a>
    </div>
  </div>
</body>

</html>
