<div ng-init='broadcastCtrl.initialize();' class='broadcast-background'>
  <div class='broadcast-navbar'>
  <p class='subscriber-count'>{{ viewers }}</p>
    <p class='broadcast-title'>Room Baby</p>
    <p ng-show='showShareSuccess' class='shared-successfuly'>Shared!</p>
    <div class='facebook-share-btn' ng-show='broadcastCtrl.showShareLink();' ng-click='broadcastCtrl.openShareDialog();'><p>share to facebook</p></div>
    <p class='time-left'>{{ timeLeft }}</p>
    <div class='broadcast-line'></div>
    <p class='broadcast-live'>- Broadcasting Live -</p>
  </div>
  <div id="broadcast-container"></div>
</div>
